*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Nanum Gothic', sans-serif;
}

a{
    color: black !important;
    text-decoration: none;
}
.sortBtn:focus{
    color: #1976d2 ;
}
.card-no-border .card {
    border: 0px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.comment-widgets .comment-row:hover {
    background: rgba(0, 0, 0, 0.02);
}

.comment-widgets .comment-row {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    padding: 15px
}

.comment-text:hover {
    visibility: hidden
}

.comment-text:hover {
    visibility: visible
}

.label {
    padding: 3px 10px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 75%
}



.box{
    border: 1px solid black;
    width: 100px;
    min-height: 40px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(8,12.50%);
}
.grid-2{
    display: grid;
    grid-template-columns: repeat(4,25%);
}
.grid-box{
    border: 1px solid black;
}
.details{
    cursor: pointer;
}
.message{
    max-height: 50px;
    overflow-y: hidden;
}
a{
    color: black;
}
.fas{
    color: black;
}
.fa-trash-alt{
    transition: linear 200ms;
}
.fa-trash-alt:hover{
    transform: scale(1.4);
    transition: linear 200ms;
}